
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1 align="center" class="display-4 text-danger">This is just simpla page frontend develop by ASP.NET .NETCORE3.1</h1>

